ol li {
  margin-bottom: 50px;
}
.text-1 {
  font-family: Tahoma;
  font-weight: bolder;
}

.text-2-1 {
  font-family: arial;
  font-weight: bold;
}

.text-2-2 {
  font-family: arial;
  font-style: italic;
  color: red;
}

.text-3-1 {
  font-family: verdana;
  font-weight: bold;
  margin-bottom: 0;
}

.text-3-2 {
  font-family: verdana;
  font-size: small;
  margin-top: 3px;
  margin-bottom: 0;

  color: rgb(146, 146, 144);
}

.text-3-3 {
  font-family: verdana;
  width: 300px;
  margin-bottom: 0;
  font-weight: 510;
}

.button-3-1 {
  margin-top: 15px;
  padding: 6px 16px;
  background-color: rgb(6, 141, 6);
  border: none;
  border-radius: 4px;
  color: rgb(221, 218, 218);
}

.text-4-1 {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 26px;
}

.text-4-2 {
  text-align: center;
  font-family: arial;
  font-weight: normal;
}

.text-4-3 {
  text-align: center;
  font-family: arial;
  color: rgb(36, 36, 202);
  transition: text-decoration 0.15s;
  cursor: pointer;
}

.text-4-3:hover {
  text-decoration: underline;
}

.text-5-0 {
  font-family: arial;
  text-align: center;
}

.text-5-1 {
  color: rgb(197, 131, 8);
  font-weight: bold;
  margin-bottom: 0px;
}

.text-5-2 {
  font-size: 29px;
  margin-top: 6px;
  font-weight: bold;
  margin-bottom: 0px;
}

.text-5-3 {
  font-size: 60px;
  margin-top: 4px;
  font-weight: bold;
  margin-bottom: 0px;
}

.text-5-4 {
  font-size: 26px;
  margin-top: 20px;
  font-weight: normal;
  margin-bottom: 0px;
}

.button-5-1 {
  background-color: #2076d8;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-top: 20px;
  padding: 20px 28px;
  border-radius: 30px;
}

.text-6-0 {
  font-family: arial;
}

.text-6-1 {
  font-size: 30px;
  margin-bottom: 0px;
  margin-left: 3px;
}

.text-6-1-1 {
  font-size: 20px;
  color: grey;
}

.text-6-2 {
  margin-top: 10px;
  color: rgb(18, 150, 18);
  font-size: 16px;
}

.text-6-3 {
  margin-top: 10px;
  color: grey;
  font-size: 16px;
  display: inline;
}

.text-6-3-1 {
  font-size: 16px;
  color: red;
}

.text-7-0 {
  font-family: Arial;
}

.text-7-1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.text-7-1-1 {
  color: grey;
  font-weight: lighter;
}

.text-7-2 {
  width: 500px;
  line-height: 28px;
  margin-top: 8px;
}

.text-7-3-2 {
  color: #2076d8;
}
